.footer
    padding: 60px 0
    background-color: var(--color-lightbg)
    @media screen and ( max-width:  662px)
        text-align: center
    @media screen and ( max-width: 490px )
        padding: 20px 0    
    &__container
        display: flex
        flex-wrap: wrap
        align-items: top
        justify-content: space-around
        margin-bottom: -40px
        @media screen and ( max-width: 490px )
            flex-direction: column-reverse
            margin-bottom: 0
    &__col
        margin-bottom: 40px
        @media screen and ( max-width: 662px )
            flex-basis: 50%
        @media screen and ( max-width: 490px )
            margin-bottom: 19px
        &--1
            @media screen and ( max-width: 490px )
                margin-bottom: 0
        &--2
            @media screen and ( max-width: 490px )
                display: none
        &--3
            @media screen and ( max-width: 662px )
                flex-basis: 50%
            @media screen and ( max-width: 490px )
                display: none
        @media screen and ( max-width: 490px )
            flex-basis: 100%
    &__mail
        display: block
        margin-bottom: 40px
        @media screen and ( max-width: 490px )
            margin-bottom: 19px
    &__phones
        display: block
        margin-bottom: 35px
        @media screen and ( max-width: 490px )
            margin-bottom: 19px
    &__logo
        margin-bottom: 45px
        @media screen and ( max-width: 490px )
            margin-bottom: 15px
            > img
                width: 229px
                height: 49px
            
    &__phones-and-socials
        +xl-block
            flex-basis: 100%
            display: flex
            margin-top: 40px
            justify-content: space-around
            > div
                +col
        @media screen and ( max-width:  662px)
            flex-direction: column
            flex-basis: 50%
            margin-top: 0
    &__social
        @media screen and ( max-width:  662px)
            justify-content: center
            
.footer-phones
    svg
        width: 15px
        height: 15px
    &__item
        > span
            @media screen and ( max-width:  662px)
                display: block
            @media screen and ( max-width:  490px)
                display: inline-block
        &:not(:last-child)
            margin-bottom: 25px
        a > span
            font-size: 18px
            &::after
                content: ''
                vertical-align: middle
                margin: 0 10px
                display: inline-block
                width: 15px
                height: 1px
                background-color: black
                @media screen and ( max-width:  662px)
                    display: none
                @media screen and ( max-width:  490px)
                    display: inline-block

.footer-mail
    svg
        vertical-align: middle
        width: 15px
        height: 12px

.footer-social
    display: flex
    > a
        display: flex
        justify-content: center
        align-items: center
        height: 31px
        width: 31px
        border-radius: 31px 
        background-color: black
        &:not(:last-child)
            margin-right: 20px
    &__icon
        fill: var(--color-white)
        &--fb
            width: 10px
            height: 18px
        &--youtube
            width: 15px
            height: 10px
            path:nth-child(2)
                fill: black
        &--vk
            width: 15px
            height: 8px
        &--instagram
            width: 15px
            height: 15px

.footer-info
    margin: 0
    font-size: 14px
    color: var(--color-gray)
    &__item
        &--1
            @media screen and (max-width: 490px)
                display: inline-block
                vertical-align: top
                margin-right: 25px
        &--2
            @media screen and (max-width: 490px)
                display: inline-block
                max-width: 151px
                text-align-last: left
        &--3, &--4, &--5
            @media screen and (max-width: 490px)
                display: none
        &:not(:last-child)
            margin-bottom: 15px
            @media screen and ( max-width:  490px)
                margin-bottom: 0
        &:first-child
            color: #828282
            font-size: 16px
        &:nth-child(2)
            color: #828282
            margin-bottom: 30px
        &:nth-child(4)
            margin-bottom: 30px
    &__dev
        > span
            &:nth-child(1)
               color: #828282 
               &::after
                    content: ''
                    display: inline-block
                    vertical-align: middle
                    width: 6px
                    height: 6px
                    border-radius: 6px
                    margin: 0 7px
                    background-color: var(--cerulean-blue)
            &:nth-child(2)
                font-weight: 600
                

.footer-list
    margin: 0
    &__title
        display: block
        margin-bottom: 30px
    &__item
        margin: 0 0 20px


                